
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<script src="~/js/vue.js"></script>
<script src="~/js/axios.js"></script>
<link href="~/css/style.css" rel="stylesheet" />


<div id="app">
    <div class="padding-all">
        <div class="header">
            <h1>Master  Login Form</h1>
        </div>

        <div class="design-w3l">
            <div class="mail-form-agile">
                <form action="#" method="post">
                    <input type="text" name="name" v-model="name" placeholder="User Name  or  email..." required="" />
                    <input type="password" name="password" v-model="mima" class="padding" placeholder="Password" required="" />
                    <input type="submit" value="登录" v-on:click="Denglu">
                </form>
            </div>
            <div class="clear"> </div>
        </div>

        <div class="footer">
            <p>© 2017  Master  Login form. All Rights Reserved | Design by  <a href="https://w3layouts.com/">  w3layouts </a></p>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                name: "",
                mima: "",
                uId: "",
                uName: "",
                uAccount: "",
                uPwd: "",
                uPhone: "",
                uState: "",
            },

            mounted() {


            },

            methods: {
                Denglu: function () {
                    var t = this;
                    var name = t.name;
                    alert(name);
                    axios
                        .get("http://localhost:65300/api/Denglu", {
                            params: {
                                name: t.name,
                                pass: t.mima,
                            }
                        })
                        .then(function (i) {
                             t.a = parseInt(i.data);
                            if (t.a > 0) {
                                t.session();
                                alert("登录成功");
                                location.href = "/Jurisdiction/Moban";
                              
                            }
                            else {
                                alert("登录失败");
                            }


                        })
                },
                session: function () {
                    var t = this;
                    axios.get("http://localhost:65300/api/Session", {
                        params: {
                            name: t.name,
                            pass: t.mima,
                        }

                    })
                        .then(function (d) {
                            t.uId = d.data[0].uId;
                            t.rId = d.data[0].rId;
                            t.uName = d.data[0].uName;
                            t.uAccount = d.data[0].uAccount;
                            t.uPwd = d.data[0].uPwd;
                            t.uPhone = d.data[0].uPhone;
                            t.uState = d.data[0].uState;
                            sessionStorage.setItem("UId", t.uId);
                            sessionStorage.setItem("RId", t.rId);
                            sessionStorage.setItem("UName", t.uName);
                            sessionStorage.setItem("UAccount", t.uAccount);
                            sessionStorage.setItem("UPwd", t.uPwd);
                            sessionStorage.setItem("UPhone", t.uPhone);
                            sessionStorage.setItem("UState", t.uState);
                        });
                    ////alert(sessionStorage.getItem("UName"));
                    //alert(sessionStorage.getItem("UAccount"));
                    //alert(sessionStor0age.getItem("UPwd"));
                    ////alert(sessionStorage.getItem("UState"));

                }
                
                
            },
        })
    </script>
}