
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<script src="~/js/vue.js"></script>
<script src="~/js/axios.js"></script>


<div id="app">
    <table>
        <tr>
            <td>
                账号:
                <input id="Text1" v-model="name" type="text" />
            </td>
        </tr>
        <tr>
            <td>
                密码:
                <input id="Password1" v-model="mima" type="password" />

            </td>
        </tr>
        @*<tr>
                <td>
                    验证码:
                    <input id="Text2" type="text" />
                    <input id="Button2" type="button" value="button" onclick="yzm()" />
                </td>
            </tr>*@
        <tr>
            <td>
                <input id="Button1" type="button" value="登录" v-on:click="Denglu" />
            </td>
        </tr>
    </table>
</div>

@section scripts{
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                name: "",
                mima: "",
                uId:"",
                uName:"",
                uAccount:"",
                uPwd:"",
                uPhone:"",
                uState:"",
            },

            mounted() {


            },

            methods: {
                Denglu: function () {
                    var t = this;
                    axios
                        .get("@ViewBag.url/api/Denglu", {
                        params: {
                            name: t.name,
                            pass: t.mima,
                            }
                        })
                        .then(function (i) {

                            if (i.data > 0) {
                                alert("登录成功");
                                axios.get("@ViewBag.url/api/Session", {
                                    params: {
                                        name: t.name,
                                        pass: t.mima,
                                    }

                                })
                                     .then(function (d) {
                                        t.uId = d.data[0].uId;
                                        t.rId = d.data[0].rId;
                                        t.uName = d.data[0].uName;
                                        t.uAccount = d.data[0].uAccount;
                                        t.uPwd = d.data[0].uPwd;
                                        t.uPhone = d.data[0].uPhone;
                                        t.uState = d.data[0].uState;
                                        sessionStorage.setItem("UId", t.uId);
                                        sessionStorage.setItem("RId", t.rId);
                                        sessionStorage.setItem("UName", t.uName);
                                        sessionStorage.setItem("UAccount", t.uAccount);
                                        sessionStorage.setItem("UPwd", t.uPwd);
                                        sessionStorage.setItem("UPhone", t.uPhone);
                                        sessionStorage.setItem("UState", t.uState);
                                         location.href = "/Jurisdiction/Moban";

                                    })
                                //alert(sessionStorage.getItem("UName"));
                                //alert(sessionStorage.getItem("UAccount"));
                                //alert(sessionStor0age.getItem("UPwd"));
                                ////alert(sessionStorage.getItem("UState"));

                            }
                            else {
                                alert("登录失败");
                            }


                        })
                }

            },
        })
    </script>
}