
@{
    ViewData["Title"] = "MaterialShenQing";
}

<h1>材料申请</h1>

<script src="~/js/vue.js"></script>
<script src="~/js/axios.js"></script>


<div id="app">
    <table class="table table-bordered">
        <tr>
            <td>材料名称</td>
            <td><span>{{}}</span></td>
        </tr>
        <tr>
            <td>申请人</td>
            <td><span>{{}}</span></td>
        </tr>
        <tr>
            <td>申请数量</td>
            <td><input id="Text1" type="text" v-model="MAmount"/></td>
            
        </tr>
        <tr>
            <td colspan="4"><input id="Button1" v-on:click="Add" type="button" value="提交" class="btn btn-group" /></td>
        </tr>
    </table>
</div>

@section scripts{ 
<script>
    var vue = new Vue({
        el: "#app",

        data: {

        }
    })

</script>

}
