
@{
    ViewData["Title"] = "Show";
}

<h1>Show</h1>
<table>
    <thead>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody></tbody>
</table>
