
@{
    ViewData["Title"] = "ASAQW";
}

<script src="~/js/axios.js"></script>
<script src="~/js/vue.js"></script>


<template>
    <div id="app">

        <div class="taskList">
            <input type="radio" name="task" value="1" v-model='selectStatus'>全部
            <input type="radio" name="task" value="2" v-model='selectStatus'>已完成
            <input type="radio" name="task" value="3" v-model='selectStatus'>检索中
            <input type="radio" name="task" value="4" v-model='selectStatus'>未开始
        </div>
    </div>
</template>

<script>
    export default {
        name: "app",
        data() {
            return {
                selectStatus: '',
            }
        },
        methods: {
            handle() {
                console.log("取到的值是" + this.selectStatus);
            }
        },
        watch: {
            selectStatus: function (newval, oldval) {
                console.log("当前应取到的值：" + newval, "这是之前的值：" + oldval);
            }
        }
    };
</script>