
@{
    ViewData["Title"] = "Show";
}
<script src="~/js/vue.js"></script>
<script src="~/js/axios.js"></script>

<div id="app">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>问卷信息管理</th>
            </tr>
        </thead>
    </table>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>序号</td>
                <td>名称</td>
                <td>发布时间</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody v-for="item in emps">
            <tr >
                <td>{{item.wjid}}</td>
                <td>{{item.mingcheng}}</td>
                <td>{{item.shijian}}</td>
                <th>
                    <input id="Button1" type="button" value="删除" v-on:click="Del(item.wjid)" />
                    <input id="Button1" type="button" value="问卷预览" v-on:click="Fantimu(item.wjid)" />
                    <input id="Button1" type="button" value="添加题目" v-on:click="Add(item.wjid)" />
                    <input id="Button1" type="button" value="调查结果" v-on:click="Tongji(item.wjid)" />
                </th>
            </tr>
        </tbody>
    </table>
    <input id="Button1" type="button" value="添加问卷信息" v-on:click="Addwj()" />
</div>

<script type="text/javascript">
    new Vue({
        el: "#app",
        data: {
            emps: "",
        },
        mounted() {
            this.Show();
        },
        methods: {
            Show: function () {
                var ch = this;
                axios
                    .get('http://localhost:65300/api/Complaints/Getwenjuan')
                    .then(function (i) {
                        ch.emps = i.data;
                    }).catch(function (error) {
                        console.log(error);
                    })
            },
            Del: function (id) {
                    if (confirm('确定要删除？')) {
                        axios
                            .delete('http://localhost:65300/api/Complaints/Removewenjuan?id='+id)
                            .then(function (i) {
                                if (i < 0) {
                                     alert('删除失败！！');
                                    
                                }
                                else {
                                    alert('删除成功！！');
                                    location.href = '/Complaints/Show';
                                }
                            })
                    }
                    
            },
            Add: function (id) {
                location.href = '/Complaints/Addtimu?id=' + id;
            },
            Fantimu: function (id) {
                location.href = '/Complaints/Fantimu?id=' + id;
            },
            Tongji: function (id) {
                location.href = '/Complaints/TongjiShow?id=' + id;
            },
            Addwj: function () {
                location.href = '/Complaints/Addwenjuan';
            }
        }
    })
</script>